* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}
/* Header */
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
/* Logo */
.logo img {
  width: 70px;
  height: 40px;
}
/* Navbar */
nav li {
  margin: 2px;
}

span > img {
  height: 12px;
}

header .nav_hover:hover {
  color: #0070D1 !important;
}

.nav_hover:hover .visibility {
  display: none;
}

.visibility_none{
  display: none;
}

.nav_hover:hover .visibility_none {
  display: inline;
}
/* Lens */
.lens {
  height: 30px;
}
/* Main */
.jumbotron_bg {
  height: 700px;
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
}

.relative {
  position: relative;
}

.p_bottom {
  position: absolute;
  bottom: 20px;
}

.orange_button {
  color: white;
  text-decoration: none;
  background: #CD3D0F;
  padding: 8px;
  outline: 5px solid #CD3D0F;
  border: 1px solid #CD3D0F; 
}

.orange_button:hover {
  color: white;
  border: 2px solid white;
  transition: 0.5s;
}
/* Gallery */
.gallery {
  padding: 3px;
  border: 2px solid #0070D1;
  border-radius: 20px;
}

.banner {
  transition: 0.5s;
}

.banner:hover {  
  cursor: pointer;
  translate: 0 -10px;
}

.rounded_angles {
  border-radius: 16px;
}
/* Accessories */
.blue_button {
  color: white;
  text-decoration: none;
  background: #0070D1;
  padding: 8px;
  outline: 5px solid #0070D1;
  border: 1px solid #0070D1;
}

.blue_button:hover{
  color: white;
  border: 2px solid white;
  transition: 0.5s;
}

.ps5 img {
  width: 100%;
}

img.opacity {
  filter: opacity(0.5);
  transition: 0.5s;
}

img.opacity:hover {
  cursor: pointer;
  filter: opacity(1);
}

.selected {
  border-bottom: 2px solid #0070D1;
}